# SPDX-FileCopyrightText: 2025 - 2026 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---

karo_compose_justfile_stack: all

# docker will start stacks in this order
# docker will stop stacks in reverse order
karo_compose_stacks_list:
  - traefik
  - whoami
  - godns
  - gluetun
  - qbittorrent
  - pocketid
  - prowlarr
  - servarr
  - seerr
  - jellyfin
  - ntfy

karo_compose_restart_policy: unless-stopped
karo_compose_timezone: "Europe/London"

karo_compose_public_domain: example.com
karo_compose_private_domain: int.example.com

# oidc

karo_compose_oidc_subdomain: auth
karo_compose_oidc_domain: "{{ karo_compose_oidc_subdomain }}.{{ karo_compose_public_domain }}" # e.g. auth.example.com
karo_compose_oidc_url: "https://{{ karo_compose_oidc_domain }}" # e.g. https://auth.example.com

karo_compose_oidc_authorization_path: "/authorize"
karo_compose_oidc_authorization_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_authorization_path }}"

karo_compose_oidc_discovery_path: "/.well-known/openid-configuration"
karo_compose_oidc_discovery_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_discovery_path }}"

karo_compose_oidc_token_path: "/api/oidc/token"
karo_compose_oidc_token_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_token_path }}"

karo_compose_oidc_userinfo_path: "/api/oidc/userinfo"
karo_compose_oidc_userinfo_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_userinfo_path }}"

karo_compose_oidc_logout_path: "/api/oidc/end-session"
karo_compose_oidc_logout_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_logout_path }}"

karo_compose_oidc_certificate_path: "/.well-known/jwks.json"
karo_compose_oidc_certificate_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_certificate_path }}"

karo_compose_oidc_provider_name: "PocketID"

karo_compose_oidc_admin_group: "admin"

# core stacks
# ---

# pocketid

karo_compose_pocketid_enabled: true

karo_compose_pocketid_encryption_key: "" # secret (`openssl rand -base64 32`)
karo_compose_pocketid_maxmind_license_key: "" # secret

# traefik

karo_compose_traefik_enabled: true
karo_compose_traefik_log_level: debug
karo_compose_traefik_dashboard_domain: "traefik.{{ karo_compose_private_domain }}"

karo_compose_traefik_dashboard_enabled: true

karo_compose_traefik_acme_staging_enabled: true

karo_compose_traefik_acme_ca_server_url: "https://acme-v02.api.letsencrypt.org/directory" # "https://acme.zerossl.com/v2/DV90"
karo_compose_traefik_acme_staging_ca_server_url: "https://acme-staging-v02.api.letsencrypt.org/directory"

karo_compose_traefik_acme_email: cert@example.com
karo_compose_traefik_acme_zone_api_token: "token_not_set" # secret
karo_compose_traefik_acme_dns_api_token: "token_not_set" # secret

# traefik tinyauth

karo_compose_traefik_tinyauth_log_level: info
karo_compose_traefik_tinyauth_domain: "tinyauth.{{ karo_compose_public_domain }}"

karo_compose_traefik_tinyauth_oidc_client_id: ""
karo_compose_traefik_tinyauth_oidc_client_secret: "" # secret

# extra stacks
# ---

# gluetun

karo_compose_gluetun_enabled: false

karo_compose_gluetun_firewall_vpn_input_ports: ""

karo_compose_gluetun_wireguard_config_raw: | # secret
  # wireguard config

# godns

karo_compose_godns_enabled: false

karo_compose_godns_subdomain: home

karo_compose_godns_dns_api_token: "token_not_set" # secret

# jellyfin

karo_compose_jellyfin_enabled: false
karo_compose_jellyfin_domain: "jellyfin.{{ karo_compose_private_domain }}"

karo_compose_jellyfin_movies_media_path: "" # e.g. /media/drive1/data/media/movies
karo_compose_jellyfin_series_media_path: "" # e.g. /media/drive1/data/media/series

# ntfy

karo_compose_ntfy_enabled: false
karo_compose_ntfy_log_level: info
karo_compose_ntfy_domain: "ntfy.{{ karo_compose_public_domain }}"

karo_compose_ntfy_auth_users: "" # https://docs.ntfy.sh/config/#users-via-the-config
karo_compose_ntfy_auth_access: "" # https://docs.ntfy.sh/config/#acl-entries-via-the-config
karo_compose_ntfy_auth_tokens: "" # https://docs.ntfy.sh/config/#tokens-via-the-config

# prowlarr

karo_compose_prowlarr_enabled: false
karo_compose_prowlarr_domain: "prowlarr.{{ karo_compose_private_domain }}"

# qbittorrent

karo_compose_qbittorrent_enabled: false
karo_compose_qbittorrent_domain: "qbittorrent.{{ karo_compose_private_domain }}"

karo_compose_qbittorrent_downloads_path: "" # e.g. /media/drive1/data/torrents

karo_compose_qbittorrent_webui_enabled: true

# qbittorrent qui

karo_compose_qbittorrent_qui_domain: "qui.{{ karo_compose_private_domain }}"

karo_compose_qbittorrent_qui_session_secret: "" # secret (`openssl rand -hex 16`)

karo_compose_qbittorrent_qui_oidc_client_id: ""
karo_compose_qbittorrent_qui_oidc_client_secret: ""

# seerr

karo_compose_seerr_enabled: false
karo_compose_seerr_log_level: info
karo_compose_seerr_domain: "seerr.{{ karo_compose_private_domain }}"

# servarr

karo_compose_servarr_enabled: false
karo_compose_radarr_domain: "radarr.{{ karo_compose_private_domain }}"
karo_compose_sonarr_domain: "sonarr.{{ karo_compose_private_domain }}"

karo_compose_servarr_data_path: "" # e.g. /media/drive1/data

# whoami

karo_compose_whoami_enabled: false
karo_compose_whoami_domain: "whoami.{{ karo_compose_private_domain }}"
karo_compose_whoami_nginx_domain: "nginx.{{ karo_compose_private_domain }}"
