# SPDX-FileCopyrightText: 2025 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---

karo_compose_traefik_enabled: true
karo_compose_whoami_enabled: true
karo_compose_godns_enabled: true
karo_compose_gluetun_enabled: true

# docker will start stacks in this order
# docker will stop stacks in reverse order
karo_compose_stacks_list:
  - traefik
  - whoami
  - godns
  - gluetun

karo_compose_restart_policy: unless-stopped

karo_compose_public_domain: localhost
karo_compose_private_domain: example.localhost

karo_compose_traefik_dashboard_enabled: false

karo_compose_traefik_acme_email: cert@example.com
karo_compose_traefik_acme_zone_api_token: token_not_set
karo_compose_traefik_acme_dns_api_token: token_not_set

karo_compose_traefik_acme_staging_enabled: true

# godns

karo_compose_godns_dns_api_token: "token_not_set" # secret
karo_compose_godns_subdomain: home

# gluetun

karo_compose_gluetun_wireguard_config_raw: | # secret
  # wireguard config

karo_compose_gluetun_firewall_vpn_input_ports: ""
