# SPDX-FileCopyrightText: 2025 - 2026 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---

karo_compose_justfile_stack: all

# docker will start stacks in this order
# docker will stop stacks in reverse order
karo_compose_stacks_list:
  - traefik
  - whoami
  - godns
  - gluetun
  - qbittorrent
  - pocketid
  - prowlarr
  - servarr
  - seerr
  - jellyfin
  - ntfy

karo_compose_restart_policy: unless-stopped
karo_compose_timezone: "Europe/London"

karo_compose_public_domain: example.com
karo_compose_private_domain: int.example.com

# oidc

karo_compose_oidc_subdomain: auth
karo_compose_oidc_domain: "{{ karo_compose_oidc_subdomain }}.{{ karo_compose_public_domain }}" # e.g. auth.example.com
karo_compose_oidc_url: "https://{{ karo_compose_oidc_domain }}" # e.g. https://auth.example.com

karo_compose_oidc_authorization_path: "/authorize"
karo_compose_oidc_authorization_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_authorization_path }}"

karo_compose_oidc_discovery_path: "/.well-known/openid-configuration"
karo_compose_oidc_discovery_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_discovery_path }}"

karo_compose_oidc_token_path: "/api/oidc/token"
karo_compose_oidc_token_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_token_path }}"

karo_compose_oidc_userinfo_path: "/api/oidc/userinfo"
karo_compose_oidc_userinfo_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_userinfo_path }}"

karo_compose_oidc_logout_path: "/api/oidc/end-session"
karo_compose_oidc_logout_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_logout_path }}"

karo_compose_oidc_certificate_path: "/.well-known/jwks.json"
karo_compose_oidc_certificate_url: "{{ karo_compose_oidc_url }}{{ karo_compose_oidc_certificate_path }}"

karo_compose_oidc_provider_name: "PocketID"

karo_compose_oidc_admin_group: "admin"

# core stacks
# ---

# pocketid

karo_compose_pocketid_enabled: true
karo_compose_pocketid_image: ghcr.io/pocket-id/pocket-id
karo_compose_pocketid_version: v1.16.0@sha256:f8cde808e8e840acda25683fc2168e0206e3f3fb1a48cca89d211aafd87eaeef

karo_compose_pocketid_encryption_key: "" # secret (`openssl rand -base64 32`)
karo_compose_pocketid_maxmind_license_key: "" # secret

# traefik

karo_compose_traefik_enabled: true
karo_compose_traefik_image: docker.io/traefik
karo_compose_traefik_version: v3.6.6@sha256:82d3d16dde0474a51fef00b28de143d48b67f7a27453224d5e7b5aaefff26a97
karo_compose_traefik_dashboard_domain: "traefik.{{ karo_compose_private_domain }}"
karo_compose_traefik_log_level: debug

karo_compose_traefik_dashboard_enabled: true

karo_compose_traefik_acme_staging_enabled: true

karo_compose_traefik_acme_ca_server_url: "https://acme-v02.api.letsencrypt.org/directory" # "https://acme.zerossl.com/v2/DV90"
karo_compose_traefik_acme_staging_ca_server_url: "https://acme-staging-v02.api.letsencrypt.org/directory"

karo_compose_traefik_acme_email: cert@example.com
karo_compose_traefik_acme_zone_api_token: "" # secret
karo_compose_traefik_acme_dns_api_token: "" # secret

# traefik tinyauth

karo_compose_traefik_tinyauth_image: ghcr.io/steveiliop56/tinyauth
karo_compose_traefik_tinyauth_version: v4.1.0-distroless@sha256:b6aea73049dd7d5e0fdf800602a5ca43d560696e4b4938cb9bec65b40c828405
karo_compose_traefik_tinyauth_domain: "tinyauth.{{ karo_compose_public_domain }}"
karo_compose_traefik_tinyauth_log_level: info

karo_compose_traefik_tinyauth_oidc_client_id: ""
karo_compose_traefik_tinyauth_oidc_client_secret: "" # secret

# traefik cetusguard

karo_compose_traefik_cetusguard_image: docker.io/hectorm/cetusguard
karo_compose_traefik_cetusguard_version: v1.1.2@sha256:692496ba976990a14416cc5bed844a72df6a4d75d677932c7d75934492312ef3

# extra stacks
# ---

# gluetun

karo_compose_gluetun_enabled: false
karo_compose_gluetun_image: docker.io/qmcgaw/gluetun
karo_compose_gluetun_version: v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30

karo_compose_gluetun_firewall_vpn_input_ports: ""

karo_compose_gluetun_wireguard_config_raw: | # secret
  # wireguard config

# godns

karo_compose_godns_enabled: false
karo_compose_godns_image: docker.io/timothyye/godns
karo_compose_godns_version: v3.3.5@sha256:83dc9457f1d390bd1c2fa1ca59d56a8d8b8506060cf7fd31f8838b78cda5f181

karo_compose_godns_subdomain: home

karo_compose_godns_dns_api_token: "" # secret

# jellyfin

karo_compose_jellyfin_enabled: false
karo_compose_jellyfin_image: docker.io/jellyfin/jellyfin
karo_compose_jellyfin_version: 10.11.5@sha256:6d819e9ab067efcf712993b23455cc100ee5585919bb297ea5a109ac00cb626e
karo_compose_jellyfin_domain: "jellyfin.{{ karo_compose_private_domain }}"

karo_compose_jellyfin_movies_media_path: "" # e.g. /media/drive1/data/media/movies
karo_compose_jellyfin_series_media_path: "" # e.g. /media/drive1/data/media/series

# ntfy

karo_compose_ntfy_enabled: false
karo_compose_ntfy_image: docker.io/binwiederhier/ntfy
karo_compose_ntfy_version: v2.15.0@sha256:aa10e84da624f65be107f9317dbf6e212fa812e0ebf62e74d032d0762eccc930
karo_compose_ntfy_domain: "ntfy.{{ karo_compose_public_domain }}"
karo_compose_ntfy_log_level: info

karo_compose_ntfy_auth_users: "" # https://docs.ntfy.sh/config/#users-via-the-config
karo_compose_ntfy_auth_access: "" # https://docs.ntfy.sh/config/#acl-entries-via-the-config
karo_compose_ntfy_auth_tokens: "" # https://docs.ntfy.sh/config/#tokens-via-the-config

# prowlarr

karo_compose_prowlarr_enabled: false
karo_compose_prowlarr_image: docker.io/linuxserver/prowlarr
karo_compose_prowlarr_version: version-2.3.0.5236@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
karo_compose_prowlarr_domain: "prowlarr.{{ karo_compose_private_domain }}"

# qbittorrent

karo_compose_qbittorrent_enabled: false
karo_compose_qbittorrent_image: docker.io/qbittorrentofficial/qbittorrent-nox
karo_compose_qbittorrent_version: 5.1.4-1@sha256:41888f4e05646ace98aeaff01a7bbec714e2e6082ab273fd4af0d1210352ea2c
karo_compose_qbittorrent_domain: "qbittorrent.{{ karo_compose_private_domain }}"

karo_compose_qbittorrent_downloads_path: "" # e.g. /media/drive1/data/torrents

karo_compose_qbittorrent_webui_enabled: true

# qbittorrent qui

karo_compose_qbittorrent_qui_image: ghcr.io/autobrr/qui
karo_compose_qbittorrent_qui_version: v1.11.0@sha256:5c7c08d5e8d4c4fe966106b58d3705f19921a69606b3dc4f237009a6c25a0ac7
karo_compose_qbittorrent_qui_domain: "qui.{{ karo_compose_private_domain }}"

karo_compose_qbittorrent_qui_session_secret: "" # secret (`openssl rand -hex 16`)

karo_compose_qbittorrent_qui_oidc_client_id: ""
karo_compose_qbittorrent_qui_oidc_client_secret: ""

# seerr

karo_compose_seerr_enabled: false
karo_compose_seerr_image: docker.io/fallenbagel/jellyseerr
karo_compose_seerr_version: preview-OIDC@sha256:9f3195998306da6548fc3b2420d114dda64a6e904f41e911168788fb410a7972
karo_compose_seerr_domain: "seerr.{{ karo_compose_private_domain }}"
karo_compose_seerr_log_level: info

# servarr

karo_compose_servarr_enabled: false

karo_compose_servarr_data_path: "" # e.g. /media/drive1/data

# servarr radarr

karo_compose_radarr_image: docker.io/linuxserver/radarr
karo_compose_radarr_version: version-6.0.4.10291@sha256:6c0948b42c149e36bb3dbc0b64d36c77b2d3c9dccf1b424c4f72af1e57ba0c21
karo_compose_radarr_domain: "radarr.{{ karo_compose_private_domain }}"

# servarr sonarr

karo_compose_sonarr_image: docker.io/linuxserver/sonarr
karo_compose_sonarr_version: version-4.0.16.2944@sha256:8b9f2138ec50fc9e521960868f79d2ad0d529bc610aef19031ea8ff80b54c5e0
karo_compose_sonarr_domain: "sonarr.{{ karo_compose_private_domain }}"

# whoami

karo_compose_whoami_enabled: false
karo_compose_whoami_image: docker.io/traefik/whoami
karo_compose_whoami_version: v1.11.0@sha256:200689790a0a0ea48ca45992e0450bc26ccab5307375b41c84dfc4f2475937ab
karo_compose_whoami_domain: "whoami.{{ karo_compose_private_domain }}"
