# ansible

/.ansible
/inventory

# custom stacks

/custom

/roles/karo-compose/defaults/main/*
!/roles/karo-compose/defaults/main/main.yml

/roles/karo-compose/templates/*
!/roles/karo-compose/templates/.gitkeep

# misc

/.dev
/cspell.json
