# ansible
.ansible/
inventory/

# karo-custom
custom/
roles/karo-compose/defaults/main/*
roles/karo-compose/templates/*
!roles/karo-compose/defaults/main/main.yml
!roles/karo-compose/templates/.gitkeep

# misc
.dev/
