# SPDX-FileCopyrightText: 2025 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---
name: qbittorrent
services:

  qbittorrent:
    # https://github.com/qbittorrent/docker-qbittorrent-nox
    # https://hub.docker.com/r/qbittorrentofficial/qbittorrent-nox
    image: {{ karo_compose_qbittorrent_image }}:{{ karo_compose_qbittorrent_version }}
    container_name: qbittorrent
    restart: {{ karo_compose_restart_policy }}
    stop_grace_period: 30m
    read_only: false
    tty: true
    network_mode: "container:gluetun"
    volumes:
      - type: bind
        source: {{ karo_compose_qbittorrent_downloads_path }}
        target: /data/torrents
      - type: volume
        source: qbittorrent_data
        target: /config
    tmpfs:
      - /tmp
    labels:
      - traefik.enable={{ karo_compose_qbittorrent_webui_enabled | lower }}
      - traefik.http.routers.qbittorrent.rule=Host(`{{ karo_compose_qbittorrent_domain }}`)
      - traefik.http.services.qbittorrent.loadbalancer.server.port=9814
    environment:
      - QBT_LEGAL_NOTICE=confirm
      - QBT_WEBUI_PORT=9814
      - TZ={{ karo_compose_timezone }}
      - PUID=0
      - PGID=0

  qui:
    # https://github.com/autobrr/qui
    # https://github.com/autobrr/qui/pkgs/container/qui
    image: {{ karo_compose_qbittorrent_qui_image }}:{{ karo_compose_qbittorrent_qui_version }}
    container_name: qui
    restart: {{ karo_compose_restart_policy }}
    network_mode: "container:gluetun"
    volumes:
      - type: volume
        source: qui_data
        target: /config
    labels:
      - traefik.enable=true
      - traefik.http.routers.qui.rule=Host(`{{ karo_compose_qbittorrent_qui_domain }}`)
      - traefik.http.services.qui.loadbalancer.server.port=7476
    environment:
      - QUI__LOG_LEVEL={{ karo_compose_qbittorrent_qui_log_level | upper }}
      - QUI__SESSION_SECRET_FILE=/run/secrets/karo_compose_qbittorrent_qui_session_secret
      - QUI__OIDC_ENABLED=true
      - QUI__OIDC_ISSUER={{ karo_compose_oidc_url }}
      - QUI__OIDC_CLIENT_ID={{ karo_compose_qbittorrent_qui_oidc_client_id }}
      - QUI__OIDC_CLIENT_SECRET={{ karo_compose_qbittorrent_qui_oidc_client_secret }}
      - QUI__OIDC_REDIRECT_URL=https://{{ karo_compose_qbittorrent_qui_domain }}/api/auth/oidc/callback
      - QUI__OIDC_DISABLE_BUILT_IN_LOGIN=true
    secrets:
      - karo_compose_qbittorrent_qui_session_secret
    depends_on:
      - qbittorrent

volumes:
  qbittorrent_data:
    name: qbittorrent_data
  qui_data:
    name: qui_data

secrets:
  karo_compose_qbittorrent_qui_session_secret:
    environment: karo_compose_qbittorrent_qui_session_secret
