# SPDX-FileCopyrightText: 2025 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---
name: godns
services:

  godns:
    # https://github.com/TimothyYe/godns
    # https://hub.docker.com/r/timothyye/godns
    image: {{ karo_compose_godns_image }}:{{ karo_compose_godns_version }}
    container_name: godns
    restart: {{ karo_compose_restart_policy }}
    networks:
      - egress_godns
    volumes:
      - type: bind
        source: /srv/docker/godns/config.json
        target: /config.json
        read_only: true
    secrets:
      - karo_compose_godns_dns_api_token

networks:
  egress_godns:
    name: egress_godns
    driver: bridge
    internal: false

secrets:
  karo_compose_godns_dns_api_token:
    environment: karo_compose_godns_dns_api_token
