{
    "provider": "Cloudflare",
    "login_token_file": "/run/secrets/karo_compose_godns_dns_api_token",
    "domains": [
        {
        "domain_name": "{{ karo_compose_public_domain }}",
        "sub_domains": ["{{ karo_compose_godns_subdomain }}"]
        }
    ],
    "resolver": "1.1.1.1",
    "ip_urls": [
        "https://api.ipify.org",
        "https://myip.biturl.top",
        "https://api-ipv4.ip.sb/ip"
    ],
    "ip_type": "IPv4",
    "interval": 300,
    "socks5_proxy": "",
    "proxied": false
}
