# SPDX-FileCopyrightText: 2026 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---
name: sonarr
services:

  sonarr:
    # https://github.com/sonarr/sonarr
    # https://hub.docker.com/r/linuxserver/sonarr
    image: {{ karo_compose_sonarr_image }}:{{ karo_compose_sonarr_version }}
    container_name: sonarr
    restart: {{ karo_compose_restart_policy }}
    network_mode: "container:gluetun"
    volumes:
      - type: bind
        source: {{ karo_compose_sonarr_data_path }}
        target: /data
      - type: volume
        source: sonarr_data
        target: /config
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarr.rule=Host(`{{ karo_compose_sonarr_domain }}`)
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
      # forward auth
      - traefik.http.routers.sonarr.middlewares=tinyauth
      - tinyauth.apps.sonarr.oauth.groups={{ karo_compose_oidc_admin_group }}
    environment:
      - TZ={{ karo_compose_timezone }}
      - PUID=0
      - PGID=0

volumes:
  sonarr_data:
    name: sonarr_data
