# SPDX-FileCopyrightText: 2025 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

# https://docs.docker.com/engine/install/debian/
# https://docs.docker.com/engine/logging/configure/

---

- name: Install docker
  block:
    - name: Install docker prerequisite packages
      ansible.builtin.apt:
        cache_valid_time: 86400
        name:
          - curl
          - ca-certificates
          - python3-debian
          - uidmap
        state: present

    - name: Add docker repository
      ansible.builtin.deb822_repository:
        name: "docker"
        types: deb
        uris: "{{ item.url }}"
        suites: "{{ ansible_facts.distribution_release }}"
        components: "stable"
        signed_by: "{{ item.url }}/gpg"
        state: "present"
      with_items:
        - url: https://download.docker.com/linux/debian

    - name: Install docker packages
      ansible.builtin.apt:
        update_cache: true
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        allow_downgrade: true
        state: present

- name: Setup rootless docker
  ansible.builtin.include_tasks: rootless.yml
