# SPDX-FileCopyrightText: 2025 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---


- name: Deploy compose stacks
  ansible.builtin.include_tasks: deploy.yml
  loop: "{{ karo_compose_stacks_list }}"
  loop_control:
    loop_var: stack
  when: lookup('vars', "karo_compose_" ~ stack ~ "_enabled") | default(false)
