# SPDX-FileCopyrightText: 2025 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---
name: traefik
services:

  traefik:
    # https://github.com/traefik/traefik
    # https://hub.docker.com/_/traefik
    image: docker.io/traefik:v3.6.6@sha256:82d3d16dde0474a51fef00b28de143d48b67f7a27453224d5e7b5aaefff26a97
    container_name: traefik
    restart: {{ karo_compose_restart_policy }}
    security_opt:
      - no-new-privileges:true
    ports:
      - "0.0.0.0:80:80/tcp"
      - "0.0.0.0:443:443/tcp"
      - "0.0.0.0:443:443/udp"
    networks:
      socketproxy_traefik:
      egress_traefik:
      frontend:
        ipv4_address: 172.18.0.254
    volumes:
      - type: bind
        source: /srv/docker/traefik/traefik.yml
        target: /etc/traefik/traefik.yml
        read_only: true
      - type: volume
        source: traefik_acme
        target: /etc/traefik/acme
    labels:
      - traefik.enable=true
      - traefik.http.routers.dashboard.rule=Host(`traefik.{{ karo_compose_private_domain }}`)
      - traefik.http.routers.dashboard.service=api@internal
      - traefik.http.services.dashboard.loadbalancer.server.port=8080
    environment:
      - CF_ZONE_API_TOKEN_FILE=/run/secrets/karo_compose_traefik_acme_zone_api_token
      - CF_DNS_API_TOKEN_FILE=/run/secrets/karo_compose_traefik_acme_dns_api_token
      - CLOUDFLARE_POLLING_INTERVAL=10
      - TZ={{ karo_compose_timezone }}
    secrets:
      - karo_compose_traefik_acme_zone_api_token
      - karo_compose_traefik_acme_dns_api_token
    depends_on:
      - cetusguard

  tinyauth:
    # https://github.com/steveiliop56/tinyauth
    # https://github.com/steveiliop56/tinyauth/pkgs/container/tinyauth
    image: ghcr.io/steveiliop56/tinyauth:v4.1.0-distroless@sha256:b6aea73049dd7d5e0fdf800602a5ca43d560696e4b4938cb9bec65b40c828405
    container_name: tinyauth
    restart: {{ karo_compose_restart_policy }}
    # user: 1000:1000 # unsupported
    # read_only: true # write secrets
    security_opt:
      - no-new-privileges:true
    networks:
      - socketproxy_traefik
      - frontend
    extra_hosts:
      - "{{ karo_compose_oidc_domain }}:172.18.0.254"
    labels:
      - traefik.enable=true
      - traefik.http.routers.tinyauth.rule=Host(`{{ karo_compose_traefik_tinyauth_domain }}`)
      - traefik.http.services.tinyauth.loadbalancer.server.port=3000
      - traefik.http.middlewares.tinyauth.forwardauth.address=http://tinyauth:3000/api/auth/traefik
    environment:
      - LOG_LEVEL={{ karo_compose_traefik_tinyauth_log_level }}
      - DISABLE_ANALYTICS=true
      - DISABLE_RESOURCES=true
      - BACKGROUND_IMAGE=""
      - APP_URL=https://{{ karo_compose_traefik_tinyauth_domain }}
      - OAUTH_AUTO_REDIRECT=pocketid
      - PROVIDERS_POCKETID_CLIENT_ID={{ karo_compose_traefik_tinyauth_oidc_client_id }}
      - PROVIDERS_POCKETID_CLIENT_SECRET_FILE=/run/secrets/karo_compose_traefik_tinyauth_oidc_client_secret
      - PROVIDERS_POCKETID_AUTH_URL={{ karo_compose_oidc_authorization_url }}
      - PROVIDERS_POCKETID_TOKEN_URL={{ karo_compose_oidc_token_url }}
      - PROVIDERS_POCKETID_USER_INFO_URL={{ karo_compose_oidc_userinfo_url }}
      - PROVIDERS_POCKETID_REDIRECT_URL=https://{{ karo_compose_traefik_tinyauth_domain }}/api/oauth/callback/pocketid
      - PROVIDERS_POCKETID_SCOPES=openid email profile groups
      - PROVIDERS_POCKETID_NAME={{ karo_compose_oidc_provider_name }}
      - DOCKER_HOST=tcp://cetusguard:2375
    secrets:
      - karo_compose_traefik_tinyauth_oidc_client_secret

  cetusguard:
    # https://github.com/hectorm/cetusguard
    # https://hub.docker.com/r/hectorm/cetusguard
    image: docker.io/hectorm/cetusguard:v1.1.2@sha256:692496ba976990a14416cc5bed844a72df6a4d75d677932c7d75934492312ef3
    container_name: cetusguard
    restart: {{ karo_compose_restart_policy }}
    read_only: true
    networks:
      - socketproxy_traefik
    volumes:
      - type: bind
        source: /run/user/1001/docker.sock
        target: /var/run/docker.sock
        read_only: true
    environment:
      CETUSGUARD_BACKEND_ADDR: "unix:///var/run/docker.sock"
      CETUSGUARD_FRONTEND_ADDR: "tcp://:2375"
      CETUSGUARD_RULES: |
        ! monitor events
        GET %API_PREFIX_EVENTS%
        ! list containers
        GET %API_PREFIX_CONTAINERS%/json
        ! inspect a container
        GET %API_PREFIX_CONTAINERS%/%CONTAINER_ID_OR_NAME%/json
      CETUSGUARD_LOG_LEVEL: "7"

networks:
  socketproxy_traefik:
    name: socketproxy_traefik
    driver: bridge
    internal: true
  egress_traefik:
    name: egress_traefik
    driver: bridge
    internal: false
    ipam:
      config:
        - subnet: 172.19.0.0/24
          gateway: 172.19.0.1
          ip_range: 172.19.0.253/32
  frontend:
    name: frontend
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: 172.18.0.0/24
          gateway: 172.18.0.1

volumes:
  traefik_acme:
    name: traefik_acme

secrets:
  karo_compose_traefik_acme_zone_api_token:
    environment: karo_compose_traefik_acme_zone_api_token
  karo_compose_traefik_acme_dns_api_token:
    environment: karo_compose_traefik_acme_dns_api_token
  karo_compose_traefik_tinyauth_oidc_client_secret:
    environment: karo_compose_traefik_tinyauth_oidc_client_secret
