# SPDX-FileCopyrightText: 2025 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

# https://docs.ansible.com/projects/ansible/latest/collections/community/docker/docker_compose_v2_module.html

---

- name: Down docker compose stacks
  ansible.builtin.include_tasks: down.yml
  loop: "{{ karo_compose_stacks_list | reverse }}"
  loop_control:
    loop_var: stack
  when:
    - lookup('vars', "karo_compose_" ~ stack ~ "_enabled") | default(false)
    - stack == karo_compose_justfile_stack or karo_compose_justfile_stack == 'all'
  tags: down

- name: Deploy compose stacks
  ansible.builtin.include_tasks: deploy.yml
  loop: "{{ karo_compose_stacks_list }}"
  loop_control:
    loop_var: stack
  when:
    - lookup('vars', "karo_compose_" ~ stack ~ "_enabled") | default(false)
    - stack == karo_compose_justfile_stack or karo_compose_justfile_stack == 'all'
  tags: deploy

- name: Up docker compose stacks
  ansible.builtin.include_tasks: up.yml
  loop: "{{ karo_compose_stacks_list }}"
  loop_control:
    loop_var: stack
  when:
    - lookup('vars', "karo_compose_" ~ stack ~ "_enabled") | default(false)
    - stack == karo_compose_justfile_stack or karo_compose_justfile_stack == 'all'
  tags: up
