# SPDX-FileCopyrightText: 2025 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---
name: prowlarr
services:

  prowlarr:
    # https://github.com/prowlarr/prowlarr
    # https://hub.docker.com/r/linuxserver/prowlarr
    image: {{ karo_compose_prowlarr_image }}:{{ karo_compose_prowlarr_version }}
    container_name: prowlarr
    restart: {{ karo_compose_restart_policy }}
    network_mode: "container:gluetun"
    volumes:
      - type: volume
        source: prowlarr_data
        target: /config
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`{{ karo_compose_prowlarr_domain }}`)
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
      # forward auth
      - traefik.http.routers.prowlarr.middlewares=tinyauth
      - tinyauth.apps.prowlarr.config.domain={{ karo_compose_prowlarr_domain }}
      - tinyauth.apps.prowlarr.oauth.groups={{ karo_compose_oidc_admin_group }}
    environment:
      - TZ={{ karo_compose_timezone }}
      - PUID=1000
      - PGID=1000

volumes:
  prowlarr_data:
    name: prowlarr_data
