# SPDX-FileCopyrightText: 2025 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

# https://docs.karolabs.dev/stacks/core/pocket-id

---
name: pocketid
services:

  pocketid:
    image: {{ karo_compose_pocketid_image }}:{{ karo_compose_pocketid_version }}
    container_name: pocketid
    restart: {{ karo_compose_restart_policy }}
    read_only: false
    networks:
      - egress_pocketid
      - frontend
    volumes:
      - type: volume
        source: pocketid_data
        target: /app/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.pocketid.rule=Host(`{{ karo_compose_oidc_domain }}`)
      - traefik.http.services.pocketid.loadbalancer.server.port=1411
    environment:
      - LOG_LEVEL={{ karo_compose_pocketid_log_level }}
      - APP_URL={{ karo_compose_oidc_url }}
      - ENCRYPTION_KEY_FILE=/run/secrets/pocketid_encryption_key
      - MAXMIND_LICENSE_KEY_FILE=/run/secrets/pocketid_maxmind_license_key
      - ANALYTICS_DISABLED=true
      - VERSION_CHECK_DISABLED=true
      - TRUST_PROXY=true
      - PUID=1000
      - PGID=1000
    secrets:
      - pocketid_encryption_key
      - pocketid_maxmind_license_key
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s

networks:
  egress_pocketid:
    name: egress_pocketid
    driver: bridge
    internal: false
  frontend:
    external: true

volumes:
  pocketid_data:
    name: pocketid_data

secrets:
  pocketid_encryption_key:
    file: /run/user/1001/karo/compose/pocketid_encryption_key
  pocketid_maxmind_license_key:
    file: /run/user/1001/karo/compose/pocketid_maxmind_license_key
